.footer {
  padding: 10px;
  text-align: center;
  background-color: black;
  color: white;

  &__row {
    display: grid;
    font-family: arial,sans-serif;
    font-size: 14px;
    grid-template-columns: repeat(3,1fr);

  }

  &__columns {

  }
}
