.footer {
  padding: 10px;
  text-align: center;
  background-color: white;
  color: #70757a;

  &__row {
    padding: 20px;
    display: grid;
    font-family: arial,sans-serif;
    font-size: 14px;
    grid-template-columns: repeat(3,1fr);

  }

  &__logo {
    height: 50%;
  }

  &__col {

  }
}
